.power-text {
  display: inline-block;
}
.energy-container {
  display: flex;
  flex-direction: row;
}

h3 {
  &.mobile {
    display: none;
  }

  &.desktop {
    display: block;
  }
}

.circle-container {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 50%;
}

.circle-content {
  text-align: center;
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.daily-graph {
  width: 80vw;
  height: 40vh;
}

.weekly-graph {
  width: 90vw;
  height: 30vh;
}

@media only screen and (max-width: 600px) {
  h3 {
    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }
  }

  .weekly-graph {
    margin-left: -20px;
    width: 100%;
    height: 50vh;
  }

  .energy-container {
    display: inline-block;
    height: 105px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .circle-container {
    width: 30%;
    border-radius: 10%;
    box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.37);
    display: inline-block;
    margin-bottom: 10px;
  }

  .circle-content {
    h3 {
      font-size: 11px;
      font-weight: 600;
    }
    font-size: 10px;
    padding: 0px;

    .power-value {
      font-size: 18px;
    }
  }
}
